<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.uber.rib.android.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Need this application attribute in order for roboelectric tests to pass. -->
    <application
        tools:replace="android:theme"
        android:theme="@style/Theme.AppCompat" />
</manifest>
