package ${package_name}

import android.content.Context
import android.util.AttributeSet
import android.view.View

/**
 * Top level view for {@link ${rib_name}Builder.${rib_name}Scope}.
 */
class ${rib_name}View @JvmOverloads constructor(context: Context, attrs: AttributeSet? = null, defStyle: Int = 0) : View(context, attrs, defStyle), ${rib_name}Interactor.${rib_name}Presenter
