package ${package_name}

import android.view.View

import com.uber.rib.core.ViewRouter

/**
 * Adds and removes children of {@link ${rib_name}Builder.${rib_name}Scope}.
 *
 * TODO describe the possible child configurations of this scope.
 */
class ${rib_name}Router(
    view: ${rib_name}View,
    interactor: ${rib_name}Interactor,
    component: ${rib_name}Builder.Component) : ViewRouter<${rib_name}View, ${rib_name}Interactor, ${rib_name}Builder.Component>(view, interactor, component)
